.public-site-container {
	display: grid;
	grid-template-rows: 4rem 1fr;
	height: 100dvh;
	overflow: hidden;
	width: 100dvw;

	.content-wrapper {
		background: var(--theme-color-neutral-background);
		height: 100%;
		overflow: hidden;
		width: 100%;
	}
}
